.landing-video {
  --bs-aspect-ratio: 25%;
  margin: 30px 0 -13px;
}

.bg-purple {
  background-color: #451735;
  color: #fff;
}

.grid-text {
  max-width: 640px;
}

.grid-icon img {
  width: 30px;
  height: 30px;
}

.error-page {
  z-index: 10030;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.how-it-works-list {
  columns: 2;
  list-style-type: none;
  margin-left: 0;
  padding: 20px 0;
}

.how-it-works-list li {
  background: url("./img/bullet-icon.svg") no-repeat left;
  background-size: 24px;
  font-size: 18px;
  line-height: 34px;
  padding: 3px 0 3px 28px;
}

.lottie-player {
  max-height: 500px;
  max-width: 500px;
}

.grid-img {
  height: 288px;
  width: 388px;
}